A {
	COLOR: #333333;
	font-family: "宋体";
	font-size: 9pt;
	text-decoration: none;




} 
DIV,FORM,P,TD,BODY{FONT-SIZE:9pt;}
BODY{
background-image:  url(background.gif);
SCROLLBAR-HIGHLIGHT-COLOR:buttonface;
SCROLLBAR-SHADOW-COLOR:buttonface;
SCROLLBAR-3DLIGHT-COLOR:buttonhighlight;
SCROLLBAR-TRACK-COLOR:eeeeee;
SCROLLBAR-DARKSHADOW-COLOR:buttonshadow
}
#TableTitleLink A:link,#TableTitleLink A:visited{COLOR:000000;}
.a1{BACKGROUND-IMAGE: url('B_bg.gif');COLOR:000000;}A:hover {
	COLOR: #FF3333;
	font-family: "宋体";
	font-size: 9pt;
	text-decoration: none;








} BODY {
	scrollbar-arrow-color :#000000;
	SCROLLBAR-HIGHLIGHT-COLOR: buttonface;
	SCROLLBAR-SHADOW-COLOR: buttonface;
	SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
	SCROLLBAR-TRACK-COLOR: #eeeeee;
	SCROLLBAR-DARKSHADOW-COLOR: buttonshadow;
	margin: 0px;
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: 160%;
	color: #333333;
	border: 0px none;
	background-image:  url(../image/bj01.gif);










}
TD {
	FONT-SIZE: 9pt;
	COLOR: #333333;
	LINE-HEIGHT: 160%;
	FONT-FAMILY: "宋体";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;


} 
.table-1 {
	border: 1px dotted #CCCCCC;
}
.table-zuoyou {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: dotted;
	border-left-style: dotted;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.wenbenkuang {
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;

}
.go-wenbenkuang {
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	background-color: #eeeeee;
	cursor: hand;
	padding: 1px;
	height: 19px;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #FFFFFF;








}
.table-shangxia {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
}
.table-you {
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #cccccc;
}
.table-zuo {
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #CCCCCC;
}
.table-shang {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #CCCCCC;
}
.table-xia {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
}
.table-xiayou {border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #cccccc;border-right-width: 1px;border-right-style: solid;border-right-color: #cccccc;}
.table-zuoshang {border-left-width: 1px;border-left-style: solid;border-left-color: #cccccc;
	border-top-width: 1px;
	order-top-style: solid;
	border-top-color: #cccccc;
	border-top-style: solid;}
.jianju {
	border: 0px;
	margin: 15px;

}
a.a:link {
	font-family: "宋体";
	font-size: 9pt;
	color: #1478eb;
	text-decoration: none;
}
a.a:hover {
	font-family: "宋体";
	font-size: 9pt;
	color: #FF9966;
	text-decoration: none;
}