/* CSS Document */

#showtop{ margin:auto; width:600px; height:100px;}
#showcenter{ margin:auto;width:600px;height:300px;}
#showfoot{margin:auto;width:600px;height:200px;}


#centent{ margin-left:120px;; margin-right:auto; width:200px;}